.backlink {
  color: #2a1c10;
  text-decoration: none;
}

.ralf-main {
  margin: 20px;
}

.ralf-main-title {
  padding: 20px 0px;
}

.content {
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  display: flex;
}

.content-puzzle {
  margin: 0px 0px;
}

.puzzle-row {
  display: flex;
}
.puzzle-row-button {
  display: flex;
  flex-direction: row;
}

.puzzle-teil {
  position: relative;
  line-height: 0px;
}

.puzzle-teil-cover {
  position: absolute;
  z-index: 20;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 60px;
}

.puzzle-teil-link {
  text-decoration: none;
}

.puzzle-teil-ralf {
  position: absolute top;
  width: 60px;
  z-index: 1;
}

.puzzle-alle {
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: flex-end;
}

.puzzle-alle a {
  text-decoration: none;
  color: #2a1c10;
}

a:visited {
  visibility: hidden;
}

a:hover {
  opacity: 25%;
}

body:has(#puzzle-teil-link_1:hover) #content-vita_item_1 {
  visibility: visible;
}

body:has(#puzzle-teil-link_2:hover) #content-vita_item_2 {
  visibility: visible;
}

body:has(#puzzle-teil-link_3:hover) #content-vita_item_3 {
  visibility: visible;
}

body:has(#puzzle-teil-link_4:hover) #content-vita_item_4 {
  visibility: visible;
}

body:has(#puzzle-teil-link_5:hover) #content-vita_item_5 {
  visibility: visible;
}

body:has(#puzzle-teil-link_6:hover) #content-vita_item_6 {
  visibility: visible;
}

body:has(#puzzle-teil-link_7:hover) #content-vita_item_7 {
  visibility: visible;
}

body:has(#puzzle-teil-link_8:hover) #content-vita_item_8 {
  visibility: visible;
}

body:has(#puzzle-teil-link_9:hover) #content-vita_item_9 {
  visibility: visible;
}

.content-vita {
  margin: 0px 0px;
}

.content-vita_item {
  background-color: burlywood;
  padding: 5px 20px;
  margin: 0px 0px;
}

.content-vita > #content-vita_item_1 {
  visibility: hidden;
}
#content-vita_item_2 {
  visibility: hidden;
}
#content-vita_item_3 {
  visibility: hidden;
}
#content-vita_item_4 {
  visibility: hidden;
}
#content-vita_item_5 {
  visibility: hidden;
}
#content-vita_item_6 {
  visibility: hidden;
}
#content-vita_item_7 {
  visibility: hidden;
}
#content-vita_item_8 {
  visibility: hidden;
}
#content-vita_item_9 {
  visibility: hidden;
}

@media (min-width: 1070px) {
  .puzzle-teil-ralf {
    width: 200px;
  }
  .puzzle-teil-cover {
    width: 200px;
  }
  .content {
    flex-direction: row;
  }
}

@media (min-width: 280px) {
  .puzzle-teil-ralf {
    width: 80px;
  }
  .puzzle-teil-cover {
    width: 80px;
  }
  .content {
    flex-direction: column;
  }
}

@media (min-width: 350px) {
  .puzzle-teil-ralf {
    width: 100px;
  }
  .puzzle-teil-cover {
    width: 100px;
  }
  .content {
    flex-direction: column;
  }
}

@media (min-width: 490px) {
  .puzzle-teil-ralf {
    width: 150px;
  }
  .puzzle-teil-cover {
    width: 150px;
  }
  .content {
    flex-direction: column;
  }
}

@media (min-width: 640px) {
  .puzzle-teil-ralf {
    width: 200px;
  }
  .puzzle-teil-cover {
    width: 200px;
  }
  .content {
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .puzzle-teil-ralf {
    width: 120px;
  }
  .puzzle-teil-cover {
    width: 120px;
  }
  .content {
    flex-direction: row;
  }
  .content-vita_item {
    padding: 10px 10px;
    margin: 0px 20px;
  }
}

@media (min-width: 1400px) {
  .puzzle-teil-ralf {
    width: 150px;
  }
  .puzzle-teil-cover {
    width: 150px;
  }
  .content {
    flex-direction: row;
  }
}

@media (min-width: 1600px) {
  .puzzle-teil-ralf {
    width: 200px;
  }
  .puzzle-teil-cover {
    width: 200px;
  }
  .content {
    flex-direction: row;
  }
}
